.card-display {
    display : grid;
    grid-template-columns : repeat(auto-fill, minmax(300px, 1fr));
    grid-gap : 1rem;
    margin : 1rem;

}

.card-display-content {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    padding:1rem;

}